*{
    margin: 0px;
    padding: 0px;
}





.navigation_bar{
    background-color: aqua;
    height: 110px;
}

.navigation_bar h1{
    margin-left: 490px;
    margin-top: 5px;
    padding-top: 10px;
    font-size: 30px;
    

}
.list_elements{
    display: inline-block;
    float: right;
    color: rgb(35, 31, 31);
    font-size: 20px;
    margin: 23px;
    margin-right: 50px;

}
.list_elements li{
    display: inline-block;
    margin: 10px;
}
.background_image_setting{
    background-image: url("https://th.bing.com/th?id=OIP.PYipJ_hSncugM2SwnZitvgHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
 height: 100vh;
 width: 100%;
 background-size: cover;
 
 
}
.day04{
    float: right;
    display: block;
    text-decoration: none;
    
}
.list_elements a li:hover{
    background-color: aquamarine;
    padding: 10px;
}
.navigation_bar{
    position: fixed;
    z-index: 1;
    width: 100%;
}