.carousel-inner{
    height: 50%;
    width: 50%;
    margin:auto;
    margin-top: 40px;
}
body{
    background-color: rgb(76, 190, 194);
}

.carss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.card{
    margin: 10px;
}

footer{
    text-align: center;
    padding: 5px;
    background-color: brown;
    color: aliceblue;
}
.grid-container{
    display: grid;
    grid-column: auto auto auto;
}