
.list_element a:hover{
    opacity: 0.5;
}
/* .ankers1{
    text-align:right;
    text-decoration: none;
} */

/* .header3 {
    background-color: #84e67d;
    color: #fff;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;

    
} */
  
/* .header1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
} */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #82d87f;
    border-radius: 5px;
    background-color: #b4deb1;
}
  
h2 {
    text-align: center;
}
  
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input[type=text], input[type=date], input[type=number] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=button] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
  
input[type=button]:hover {
    background-color: #3e8e41;
}
  
#bus-list {
    display: none;
    margin-top: 20px;
}
  
.bus {
    border: 1px solid #ccc;
    padding: 10
}
/* footer{
    background-color: #867e7e;
}
.social-media-icons{
    background-color: #867e7e;
} */
    
/* footer {
    background-color: #615959;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  } */
  
  .social-media-icons {
    display: flex;
  }
  
  .social-media-icons a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .social-media-icons a:hover {
    color: #4CAF50;
  }
  
  .social-media-icons i {
    font-size: 24px;
    margin-right: 10px;
  }
  .list_element{
    display: inline-block;
    float: right;
    color: black;
    font-size: 20px;
    margin: 23PX;
    margin-right: 50PX;
  }

  .list_element li{
    display: inline-block;
    margin: 10px;
  }
.image_slide2{
    height: 400px;
    width: 400px;
    

}
.offers1{
    background:linear-gradient(to right, red);
}


.image_slide2{
margin: auto;
}
header {
    background-color: rgb(134, 241, 134);
    padding: 10px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    max-width: 50px;
    margin-right: 10px;
  }
  
  .nav-container {
    display: flex;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  
